.parent#parent
	.page#page
		.notch
		.hole.holes-top
		.hole.holes-bottom
		.ripline
		- for (var i = 0; i < 46; i++) {
			div(class='fluff' style="top: "+((i*12.8)+4)+"px")
		- }
		.hoverMarker#hoverMarker
		canvas#canvas