extends layout

block css
	link(rel='stylesheet', href='/stylesheets/cheese.css')
	link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

block jsHead
	script(src='/js/backend/internal/box.js')
	script(src='/js/backend/internal/move.js')
	script(src='/js/backend/internal/moveValidator.js')
	script(src='/js/backend/internal/backend.js') 	

block content
	.parent#parent.inactive
		input(type="button" value="Icon selector toggle")#iconDlgOpener
		#iconSelector.inactive
			.flip-card
				.icon-selector-wrapper.front.card
					i.flipper.material-icons flip_to_back
					i.selector.material-icons check_circle_outline
					h1 Bitte wähle ein Symbol
					#iconList.card
				.icon-selector-wrapper.back.card
					i.flipper.material-icons flip_to_front
					i.selector.material-icons check_circle_outline
					h1 Oder mal es dir halt selbst
					canvas#pointDesigner
		#users.card
			- for (var i = 0; i < 4; i++) {
				div(class='user user'+i)
					.dot
					div(class='userName' id='userName'+i)
			- }
			#retractor
				i.material-icons expand_less
		.page(id='page' style='height: 590px; width: 440px;')
			.notch
			.hole.holes-top
			.hole.holes-bottom
			.ripline
			- for (var i = 0; i < 46; i++) {
				div(class='fluff' style="top: "+((i*12.8)+4)+"px")
			- }
			.hoverMarker#hoverMarker
			canvas#canvas

block jsBody
	script(src='/js/frontend/lineValidator.js')
	script(src='/js/frontend/pos.js')
	script(src='/js/frontend/rgbColor.js')
	script(src='/js/frontend/score.js')
	script(src='/js/frontend/canvas.js')
	script(src='/js/frontend/gameCanvas.js')
	script(src='/js/frontend/frontend.js')
	script(src='/js/frontend/navigation.js')
	script(src='/js/frontend/init.js')
	script(src='/js/frontend/clickEvents.js')
