extends layout

block css
	link(rel='stylesheet', href='/stylesheets/cheese.css')

block jsHead
	script(src='/javascript/backend/internal/box.js')
	script(src='/javascript/backend/internal/move.js')
	script(src='/javascript/backend/internal/moveValidator.js')
	script(src='/javascript/backend/internal/backend.js') 	

block content
	.parent#parent.inactive
		canvas#pointDesigner
		.users
			- for (var i = 0; i < 4; i++) {
				div(class='user user'+i)
					div(class='userName' id='userName'+i)
			- }
		.page(id='page' style='height: 590px; width: 440px;')
			.notch
			.hole.holes-top
			.hole.holes-bottom
			.ripline
			- for (var i = 0; i < 46; i++) {
				div(class='fluff' style="top: "+((i*12.8)+4)+"px")
			- }
			.hoverMarker#hoverMarker
			canvas#canvas

block jsBody
	script(src='/javascript/frontend/lineValidator.js')
	script(src='/javascript/frontend/pos.js')
	script(src='/javascript/frontend/rgbColor.js')
	script(src='/javascript/frontend/score.js')
	script(src='/javascript/frontend/canvas.js')
	script(src='/javascript/frontend/gameCanvas.js')
	script(src='/javascript/frontend/frontend.js')
	script(src='/javascript/frontend/navigation.js')
	script(src='/javascript/frontend/init.js')
