extends layout

block css
	link(rel='stylesheet', href='/stylesheets/cheese.css')
	link(rel='stylesheet', href='/stylesheets/modal.css')
	link(rel='stylesheet', href='/stylesheets/paper.css')
	link(rel='stylesheet', href='/stylesheets/users.css')
	link(rel='stylesheet', href='/stylesheets/navigationMenu.css')
	link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

block jsHead
	script(src='/js/backend/internal/box.js')
	script(src='/js/backend/internal/move.js')
	script(src='/js/backend/internal/moveValidator.js')
	script(src='/js/backend/internal/backend.js') 	

mixin user(id)
	div(class='user user'+id)
		.dot
		.user_hover
			.hover_icon
			.hover_points 0
			.hover_color
		div(class='userName' id='userName'+id)

block content
	.parent#parent.invisible
		#modalContainer
			#modalBG
			#iconSelector.flip-card.modal
				.icon-selector-wrapper.dialog.front.card
					i.flipper.modal-button.left.material-icons flip_to_back
					i.next.modal-button.right.material-icons chevron_right
					h1 Bitte wähle ein Symbol
					#iconList.card
				.icon-selector-wrapper.dialog.back.card
					i.flipper.modal-button.left.material-icons flip_to_front
					i.next.modal-button.right.material-icons chevron_right
					h1 Oder mal es dir halt selbst
					canvas#pointDesigner
			#colorSelector.dialog.modal.card
				i.previous.modal-button.left.material-icons chevron_left
				i.next.modal-button.right.material-icons check_circle_outline
				h1 Wähle deine Stiftfarbe aus
				div#penPicker
					div.pen-preset.ink.c385aff
					div.pen-preset.pencil.c848080
					div.pen-preset.pen.c0089b7
					div.pen-preset.marker.cf0ff70
					input(type='color')#colorPicker
		#users.card
			+user(0)
			+user(1)
			.round Runde
				.round-number 1
			+user(2)
			+user(3)
			#retractor
				i.material-icons expand_less
		.page(id='page' style='height: 590px; width: 440px;')
			.notch
			.hole.holes-top
			.hole.holes-bottom
			.ripline
			- for (var i = 0; i < 46; i++) {
				div(class='fluff' style="top: "+((i*12.8)+4)+"px")
			- }
			.hoverMarker#hoverMarker
			canvas#canvas
		#navigationMenu
			i.material-icons.plus zoom_in
			i.material-icons.minus zoom_out
			i.material-icons.focus crop
			i.material-icons.highlight-previous-line center_focus_weak

block jsBody
	script(src='/js/frontend/hammer.min.js')
	script(src='/js/frontend/lineValidator.js')
	script(src='/js/frontend/pos.js')
	script(src='/js/frontend/rgbColor.js')
	script(src='/js/frontend/score.js')
	script(src='/js/frontend/canvas.js')
	script(src='/js/frontend/gameCanvas.js')
	script(src='/js/frontend/frontend.js')
	script(src='/js/frontend/navigation.js')
	script(src='/js/frontend/modal.js')
	script(src='/js/frontend/clickEvents.js')
	script(src='/js/frontend/init.js')
