:root {
  --background-color: lightblue;
  --paper-color: white;
  --active-color: #00d500;
  --inactive-user-color: gray;
  --shade-1: white;
  --shade-1-accent: black; //text color
  --shade-2: var(--shade-1);
  --shade-2-accent: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #173254;
    --paper-color: #272727;
    --active-color: #00d500;
    --inactive-user-color: gray;
    --shade-1: #181a1f;
    --shade-1-accent: #6b727d; //text color
    --shade-2: #282c34;
    --shade-2-accent: #4b5362;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

html {
  box-sizing: border-box;
}

.invisible {
  opacity: 0 !important;
}

#parent {
  transition: opacity 0.4s;
  opacity: 0;
  position: relative;
  height: 100%;
  width: 100%;
  animation: fade-in 0.4s 0.6s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: var(--shade-1);
  border-radius: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

h1 {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: lighter;
}
