:root {
    --background_color: lightblue;
    --paper_color: white;
    --active-user-color: #00d500;
    --inactive-user-color: gray;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: var(--background_color);
  font-family: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
}

.inactive {
    display: none
}

.parent {
  position: relative;
  height: 100%;
  width: 100%;
}

.page {
  position: absolute;
  height: 590px;
  width: 440px;
  transform-origin: 0 0;
}

.fluff, .notch, .hole, .hole:before, .ripline {
  position: absolute;
  background-color: var(--background_color);
  z-index: 2;
}

.fluff {
  width: 10px;
  height: 7px;
  border-radius: 2px;
  left: 2px;
}

.fluff:before, .fluff:after {
  content: "";
  background-color: var(--background_color);
  position: absolute;
}

.fluff-ripped:before {
  width: 16px;
  height: 10px;
  transform: rotate(55deg);
  left: -12px;
  top: -5px;
}

.fluff-standard-top:before {
  width: 10px;
  height: 1px;
  top: 1px;
  left: -6px;
  transform: rotate(17deg);
}

.fluff-standard-bottom:before {
  width: 10px;
  height: 1px;
  top: 6px;
  left: -6px;
  transform: rotate(-14deg);
}

.ripline {
  background-color: unset;
  height: 100%;
  width: 1px;
  left: 18px;
  background-image: linear-gradient(var(--background_color) 33%, rgba(255, 255, 255, 0) 0%);
  background-position: 0px;
  background-size: 1px 3px;
}

.notch {
  width: 3px;
  height: 8px;
  left: 17px;
  border-radius: 0 0 30% 30%;
}

.hole:before {
  content: "";
  top: 158px;
}

.hole {
  left: 32px;
}

.hole, .hole:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.holes-top {
  top: 50px;
}

.holes-bottom {
  top: 366px;
}

#canvas {
  width: 100%;
  height: 100%;
  background-color: var(--paper_color);
  position: relative;
}

.hoverMarker {
  width: 20px;
  height: 11px;
  position: absolute;
  z-index: 2;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='11px' ><rect x='5' y='5' fill='rgba(100, 149, 237, 0.5)' width='10' height='1'/></svg>");
  background-position: center;
  background-repeat: no-repeat;
}

#pointDesigner {
  display: none;
}

.card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: white;
  border-radius: 10px;
}

#users {
  z-index: 1;
  position: fixed;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  width: fit-content;
  border-radius: 0 0 10px 10px;
  transition: margin-top 0.3s;
}

#users.retracted {
  margin-top: -140px;
}

.user {
  margin: 20px;
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 10px;
  border: 5px solid var(--inactive-user-color);
  transition: border-color 0.3s ease;
  background-size: cover;
  position: relative;
}

.user.active {
  border-color: var(--active-user-color);
}

.user .dot {
  z-index: 1;
  width: 0px;
  height: 0px;
  background-color: var(--inactive-user-color);
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
}

.user.active .dot {
  width: 15px;
  height: 15px;
  background-color: var(--active-user-color) !important;
  transform: translate(-50%, -150%);
}

#users.retracted .user .dot {
  transform: translate(-50%, 255%);
  margin-top: 100%;
  background-color: gray;
  width: 15px;
  height: 15px;
}

.userName {
    position: relative;
    top: 113%;
    font-weight: 700;
    font-size: small;
}

#retractor {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 0 10px 10px;
}

#users #retractor > i {
  font-size: 20px;
  transition: transform 0.3s;
}

#users.retracted #retractor > i {
  transform: rotate(180deg);
}

#retractor:hover {
  background-color: #8080801f;
}

.inactive {
  display: none;
}
