#modalBG {
  margin-left: 120%;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #25252585;
  transition: margin-left 0.4s ease-in;
}

.modal.flip-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: margin-left 0.6s, transform 0.6s;
  transform: rotatey(360deg);
}

#parent.invisible .modal.flip-card {
  transform: rotatey(180deg); //hack to load back of flip card initially
}

.dialog {
  height: 500px;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 20px;
}

.modal {
  margin-left: 120%;
  transition: margin-left 0.6s;
  text-align: center;
}

#modalContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  z-index: 2;
  color: var(--shade-1-accent)
}

#modalContainer:not(.opened) {
  animation: modal-container-inactive 0.6s forwards;
}

@keyframes modal-container-inactive {
  100% {
    z-index: 0;
  }
}

.modal.active {
  animation: active-modal 0.5s forwards;
}

#modalContainer.opened #modalBG {
  animation: active-modal 0.6s ease-out forwards;
}

.modal:not(.active) {
  animation: reset-modal 0.5s forwards;
}

#modalContainer:not(.opened) #modalBG {
  animation: reset-modal 0.3s ease-out forwards;
}

@keyframes reset-modal {
  0% {
    margin-left: 0;
  }
  99% {
    margin-left: -120%;
  }
  100% {
    margin-left: 120%;
  }
}

@keyframes active-modal {
  0%  {
    margin-left: 120%;
  }
  100% {
    margin-left: 0;
  }
}

.modal .modal-button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 30px;
  transition: box-shadow 0.3s;
}

//individual modal pages
#pointDesigner {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 400px;
  height: 400px;
  background-color: var(--shade-2);
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.icon-selector-wrapper {
  backface-visibility: hidden;
}

.icon-selector-wrapper.back {
  transform: translate(-50%, -50%) rotateY(180deg);
}

#iconList {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  background-color: var(--shade-2)
}

#iconList::-webkit-scrollbar {
  display: none;
}

#iconList .icon-wrapper {
  width: unset;
  position: relative;
  display: inline-block;
  padding: 20px;
}

#iconList .icon {
  width: 80px;
  height: 80px;
  background-color: white;
  background-size: contain;
  border-radius: 5px;
  filter: grayscale(1) saturate(0%) brightness(60%) contrast(400%);
  transition: transform 0.2s;
}

#iconList .icon-wrapper.selected .icon {
    transform: scale(0.9);
}

#iconList .icon-marker {
  border-radius: 50%;
  background-color: var(--active-color);
  position: absolute;
  left: 25px;
  top: 25px;
  width: 0px;
  height: 0px;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
}

#iconList .icon-wrapper.selected .icon-marker {
  width: 15px;
  height: 15px;
}

#penPicker {
  width: 100%;
  height: 80%;
}

.pen-preset {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: box-shadow 0.2s;
  display: inline-block;
  margin: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  border-width: 3px;
  border-style: solid;
  background-color: var(--shade-2-accent);
}

.pen-preset:active {
  box-shadow: none;
}

.pen-preset.pen {
  background-image: url(https://image.flaticon.com/icons/svg/2438/2438427.svg);
}

.pen-preset.pencil {
  background-image: url(https://image.flaticon.com/icons/svg/1659/1659764.svg);
}

.pen-preset.ink {
  background-image: url(https://image.flaticon.com/icons/svg/1014/1014859.svg);
}

.pen-preset.marker {
  background-image: url(https://image.flaticon.com/icons/svg/2610/2610897.svg);
}

#colorPicker {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 80%;
  height: 70%;
}
