.page {
  position: absolute;
  height: 590px;
  width: 440px;
  transform-origin: 0 0;
}

.fluff, .notch, .hole, .hole:before, .ripline {
  position: absolute;
  background-color: var(--background-color);
  z-index: 2;
}

.fluff {
  width: 10px;
  height: 7px;
  border-radius: 2px;
  left: 2px;
}

.fluff:before, .fluff:after {
  content: "";
  background-color: var(--background-color);
  position: absolute;
}

.fluff-ripped:before {
  width: 16px;
  height: 10px;
  transform: rotate(55deg);
  left: -12px;
  top: -5px;
}

.fluff-standard-top:before {
  width: 10px;
  height: 1px;
  top: 1px;
  left: -6px;
  transform: rotate(17deg);
}

.fluff-standard-bottom:before {
  width: 10px;
  height: 1px;
  top: 6px;
  left: -6px;
  transform: rotate(-14deg);
}

.ripline {
  background-color: unset;
  height: 100%;
  width: 1px;
  left: 18px;
  background-image: linear-gradient(var(--background-color) 33%, rgba(255, 255, 255, 0) 0%);
  background-position: 0px;
  background-size: 1px 3px;
}

.notch {
  width: 3px;
  height: 8px;
  left: 17px;
  border-radius: 0 0 30% 30%;
}

.hole:before {
  content: "";
  top: 158px;
}

.hole {
  left: 32px;
}

.hole, .hole:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.holes-top {
  top: 50px;
}

.holes-bottom {
  top: 366px;
}

#canvas {
  width: 100%;
  height: 100%;
  background-color: var(--shade-2);
  position: relative;
}

.hoverMarker {
  width: 20px;
  height: 11px;
  position: absolute;
  z-index: 2;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='11px' ><rect x='5' y='5' fill='rgba(100, 149, 237, 0.5)' width='10' height='1'/></svg>");
  background-position: center;
  background-repeat: no-repeat;
}

//DOPEFISH LIVES
.page:before {
  content: 'dopefish lives';
  background-image: url(/images/dopefish.gif);
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  position: absolute;
  left: -5000px;
  text-align: center;
  font-size: 80px;
  padding-top: 106%;
}
