#users {
  z-index: 1;
  position: fixed;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  width: fit-content;
  border-radius: 0 0 10px 10px;
  transition: margin-top 0.3s;
}

#users.retracted {
  margin-top: -140px;
}

.user {
  margin: 20px;
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 10px;
  border: 5px solid var(--inactive-user-color);
  transition: border-color 0.3s ease;
  background-size: cover;
  position: relative;
}

.user.active {
  border-color: var(--active-color);
}

.user .dot {
  z-index: 1;
  width: 0px;
  height: 0px;
  background-color: var(--inactive-user-color);
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
}

.user.active .dot {
  width: 15px;
  height: 15px;
  background-color: var(--active-color) !important;
  transform: translate(-50%, -150%);
}

#users.retracted .user .dot {
  transform: translate(-50%, 255%);
  margin-top: 100%;
  background-color: gray;
  width: 15px;
  height: 15px;
}

.userName {
    position: relative;
    top: 113%;
    font-weight: 700;
    font-size: small;
}

#retractor {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 0 10px 10px;
}

#users #retractor > i {
  font-size: 20px;
  transition: transform 0.3s;
}

#users.retracted #retractor > i {
  transform: rotate(180deg);
}

#retractor:hover {
  background-color: #8080801f;
}
