#users {
  z-index: 1;
  position: fixed;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  width: fit-content;
  border-radius: 0 0 10px 10px;
  transition: margin-top 0.3s;
  background-color: var(--shade-1);
  color: var(--shade-1-accent);
}

#users.retracted {
  margin-top: -140px;
}

.user {
  margin: 20px;
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 10px;
  border: 5px solid var(--inactive-user-color);
  transition: border-color 0.3s ease;
  background-size: cover;
  position: relative;
}

.user.active {
  border-color: var(--active-color);
}

.user .dot {
  z-index: 1;
  width: 0px;
  height: 0px;
  background-color: var(--inactive-user-color);
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
}

.user.active .dot {
  width: 15px;
  height: 15px;
  background-color: var(--active-color) !important;
  transform: translate(-50%, -150%);
}

#users.retracted .user .dot {
  transform: translate(-50%, 255%);
  margin-top: 100%;
  background-color: gray;
  width: 15px;
  height: 15px;
}

.userName {
  position: absolute;
  top: 113%;
  font-weight: 700;
  font-size: small;
  width: 80px;
}

.user_hover {
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: var(--shade-2);
  position: absolute;
  transition-delay: 0s;
  transition-duration: 0.35s;
  transition-property: opacity;
}

.user:hover .user_hover {
  opacity: 1;
  transition-delay: 0.5s;
}

.user_hover > div {
  position: absolute;
}

.hover_points {
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
}

.hover_icon {
  width: 30px;
  height: 30px;
  background-size: cover;
}

.hover_color {
  width: 20px;
  height: 20px;
  right: 0;
  border-radius: 50%;
  margin: 5px;
}

#retractor {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 0 10px 10px;
  transition: background-color 0.1s;
}

#users #retractor > i {
  font-size: 20px;
  transition: transform 0.3s;
}

#users.retracted #retractor > i {
  transform: rotate(180deg);
}

#retractor:hover {
  background-color: #8080801f;
}

.round {
  width: 80px;
  height: 90px;
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
  .round-number {
    font-size: 50px;
  }
}
